@import "tailwindcss";

@keyframes roll {
    to {
        transform: translateY(1.5rem);
    }
}

@theme {
    --color-*: initial;
    --color-white: #fafafa;
    --color-black: #0d0d0d;
    --color-red: #ff0000;
    --color-green: #00ff00;
    --color-cyan: #00ffff;
    --color-pink: #ff00ff;
    --color-yellow: #ffff00;

    --spacing-*: initial;
    --spacing: calc(1rem / 16);
    --breakpoint-xs: 28rem;

    --animate-roll: roll 0.5s cubic-bezier(0.3, 0, 0, 1) forwards;
}

@utility text-* {
    font-size: calc(--value(integer)rem / 16);
}