@import "tailwindcss";

@keyframes roll {
    to {
        transform: translateY(1.5rem);
    }
}

@theme {
    --color-*: initial;
    --color-white: #fafafa;
    --color-black: #0d0d0d;
    --color-red: #ff0000;
    --color-green: #00ff00;
    --color-cyan: #00ffff;
    --color-pink: #ff00ff;
    --color-yellow: #ffff00;

    --spacing-*: initial;
    --breakpoint-xs: 28rem;

    --animate-roll: roll 0.5s cubic-bezier(0.3, 0, 0, 1) forwards;
}

@utility text-* {
    font-size: calc(--value(integer)rem / 16);
}

@utility pt-* {
    padding-top: calc(--value(integer)rem / 16);
}

@utility pr-* {
    padding-right: calc(--value(integer)rem / 16);
}

@utility pb-* {
    padding-bottom: calc(--value(integer)rem / 16);
}

@utility pl-* {
    padding-left: calc(--value(integer)rem / 16);
}

@utility px-* {
    padding-inline: calc(--value(integer)rem / 16);
}

@utility py-* {
    padding-block: calc(--value(integer)rem / 16);
}

@utility p-* {
    padding: calc(--value(integer)rem / 16);
}

@utility mt-* {
    margin-top: calc(--value(integer)rem / 16);
}

@utility mr-* {
    margin-right: calc(--value(integer)rem / 16);
}

@utility mb-* {
    margin-bottom: calc(--value(integer)rem / 16);
}

@utility ml-* {
    margin-left: calc(--value(integer)rem / 16);
}

@utility mx-* {
    margin-inline: calc(--value(integer)rem / 16);
}

@utility my-* {
    margin-block: calc(--value(integer)rem / 16);
}

@utility m-* {
    margin: calc(--value(integer)rem / 16);
}

@utility gap-* {
    gap: calc(--value(integer)rem / 16);
}

@utility gap-x-* {
    column-gap: calc(--value(integer)rem / 16);
}

@utility gap-y-* {
    row-gap: calc(--value(integer)rem / 16);
}

@utility w-* {
    width: calc(--value(integer)rem / 16);
}

@utility h-* {
    height: calc(--value(integer)rem / 16);
}

@utility min-w-* {
    min-width: calc(--value(integer)rem / 16);
}

@utility max-w-* {
    max-width: calc(--value(integer)rem / 16);
}

@utility min-h-* {
    min-height: calc(--value(integer)rem / 16);
}

@utility max-h-* {
    max-height: calc(--value(integer)rem / 16);
}

@utility leading-* {
    line-height: calc(--value(number)rem / 16);
}

@utility tracking-* {
    letter-spacing: calc(--value(number)rem / 16);
}

@utility rounded-* {
    border-radius: calc(--value(integer)rem / 16);
}

@utility top-* {
    top: calc(--value(integer)rem / 16);
}

@utility right-* {
    right: calc(--value(integer)rem / 16);
}

@utility bottom-* {
    bottom: calc(--value(integer)rem / 16);
}

@utility left-* {
    left: calc(--value(integer)rem / 16);
}

@utility -pr-* {
    padding-right: calc(-1 * --value(integer)rem / 16);
}

@utility -pb-* {
    padding-bottom: calc(-1 * --value(integer)rem / 16);
}

@utility -pl-* {
    padding-left: calc(-1 * --value(integer)rem / 16);
}

@utility -px-* {
    padding-inline: calc(-1 * --value(integer)rem / 16);
}

@utility -py-* {
    padding-block: calc(-1 * --value(integer)rem / 16);
}

@utility -p-* {
    padding: calc(-1 * --value(integer)rem / 16);
}

@utility -mt-* {
    margin-top: calc(-1 * --value(integer)rem / 16);
}

@utility -mr-* {
    margin-right: calc(-1 * --value(integer)rem / 16);
}

@utility -mb-* {
    margin-bottom: calc(-1 * --value(integer)rem / 16);
}

@utility -ml-* {
    margin-left: calc(-1 * --value(integer)rem / 16);
}

@utility -mx-* {
    margin-inline: calc(-1 * --value(integer)rem / 16);
}

@utility -my-* {
    margin-block: calc(-1 * --value(integer)rem / 16);
}

@utility -m-* {
    margin: calc(-1 * --value(integer)rem / 16);
}

@utility -gap-* {
    gap: calc(-1 * --value(integer)rem / 16);
}

@utility -gap-x-* {
    column-gap: calc(-1 * --value(integer)rem / 16);
}

@utility -gap-y-* {
    row-gap: calc(-1 * --value(integer)rem / 16);
}

@utility -w-* {
    width: calc(-1 * --value(integer)rem / 16);
}

@utility -h-* {
    height: calc(-1 * --value(integer)rem / 16);
}

@utility -min-w-* {
    min-width: calc(-1 * --value(integer)rem / 16);
}

@utility -max-w-* {
    max-width: calc(-1 * --value(integer)rem / 16);
}

@utility -min-h-* {
    min-height: calc(-1 * --value(integer)rem / 16);
}

@utility -max-h-* {
    max-height: calc(-1 * --value(integer)rem / 16);
}

@utility -rounded-* {
    border-radius: calc(-1 * --value(integer)rem / 16);
}

@utility -top-* {
    top: calc(-1 * --value(integer)rem / 16);
}

@utility -right-* {
    right: calc(-1 * --value(integer)rem / 16);
}

@utility -bottom-* {
    bottom: calc(-1 * --value(integer)rem / 16);
}

@utility -left-* {
    left: calc(-1 * --value(integer)rem / 16);
}

@utility -leading-* {
    line-height: calc(-1 --value(number)rem / 16);
}

@utility -tracking-* {
    letter-spacing: calc(-1 * --value(number)rem / 16);
}